* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-color: rgba(216, 162, 200, 0.741);
}
#price {
  width: 200px;
  height: 50px;
  margin: 10px;
}
#btn {
  background-color: greenyellow;
  width: 100px;
  height: 50px;
}
.display {
  margin: 20px;
  display: block;
  height: 150px;
  position: relative;
}
.display img {
  width: auto;
  height: 150px;
  object-fit: contain;
  position: absolute;
}
